@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: Poppins, 'Poppins';
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --main-color: #13111c;
  --accent-color: #c59360;
  --bg-color: #1b1926;
  --gray-color: #302d3b;
  --text-color: #c0c0c0; 
}

@font-face {
  font-family: Poppins;
  src: url('assets/fonts/Poppins/Poppins-Regular.ttf');
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  font-size: 1rem;
  overflow-x: hidden;
}

#root {
  display: flex;
}

nav {
  position: relative;
  width: fit-content;
  z-index: 1000;
  background: var(--accent-color);
}

nav .navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background: var(--main-color);
  padding: 1rem;
}

nav .navbar #menuIcon {
  display: none;
  font-size: 1.5rem;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.4rem;
  border-radius: 50%;
  background: var(--gray-color);
  margin: 1rem;
  color: var(--accent-color);
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  transition: 0.2s;
}

nav .navbar #menuIcon:hover {
  background: #44404e;
}

nav .navbar .logo {
  color: var(--text-color);
  font-size: 1.1rem;
  font-weight: 300;
  letter-spacing: 0.3rem;
  text-align: center;
  margin: 0 0 2rem 0;
}

.navbar .logo span {
  color: var(--accent-color);
  text-shadow: 0 5px 2px #c593609d;
}

nav .navlinks {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

nav .navlinks a {
  text-decoration: none;
  color: var(--text-color);
  width: 100%;
  padding: 0.6rem 0;
  border: 1px solid transparent;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
  text-align: center;
  transition: 0.1s ease;
}

nav .navlinks a:nth-child(odd) {
  background: #22212c;
}

nav .navlinks a:hover {
  color: var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
  background: #22212c;
}

nav .other_links {
  position: absolute;
  bottom: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

nav .other_links .btn {
  background: var(--accent-color);
  color: #000;
  padding: 0.5rem 0;
  text-align: center;
  border-radius: 0.3rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
  text-decoration: none;
}

nav .other_links .btn.w-full {
  width: 100%;
}

nav .other_links .btn:hover {
  transform: rotateZ(2deg);
}

nav .other_links .social_m_ic {
  display: flex;
  gap: 0.9rem;
}

nav .social_m_ic .ic,
nav .social_m_ic .ic:nth-child(even):hover {
  min-width: 1.8rem;
  min-height: 1.8rem;
  color: var(--text-color);
  cursor: pointer;
  border: 1px solid var(--text-color);
  padding: 0.3rem;
  border-radius: 50%;
  transition: 0.1s;
}

nav .social_m_ic .ic:hover,
nav .social_m_ic .ic:nth-child(even) {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

main {
  width: 100%;
}

section {
  display: flex;
  justify-content: center;
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1080px;
  padding: 6rem 2rem 2rem;
}

#hero {
  background-image: url('./assets/images/bg.jpg');
  background-position: center;
  height: fit-content;
}

#hero .container {
  position: relative;
  padding: 0;
  max-width: none;
  background: linear-gradient(to bottom, #13111c7a, #000000);
  padding: 6rem 0;
}

#hero .container .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

#hero .profile_img_wrapper {
  position: relative;
  width: 17rem;
  height: 17rem;
  border-radius: 50%;
  overflow: hidden;
}

#hero .profile_img_wrapper .profile_img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0% -100%;
  scale: 2.2;
  transition: 0.2s;
  filter: saturate(40%);
}

#hero .profile_img_wrapper:hover
.profile_img {
  scale: 2.4;
}

#hero .text {
  text-align: center;
}

#hero .text .my_name {
  color: var(--accent-color);
  font-size: 4rem;
  font-weight: 600;
}

#hero .text .doc_info {
  font-size: 2rem;
}

.heading {
  color: var(--accent-color);
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 3rem;
  letter-spacing: 0.4rem;
}

#services .services_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5rem 3rem;
}

#services .service .service_ic {
  color: var(--accent-color);
  font-size: 5rem;
}

#services .service .service_name {
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--accent-color);
  margin: 2rem 0 1rem;
}

#works .works_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4rem;
}

#works .works_grid .work {
  height: 20rem;
  overflow: hidden;
  position: relative;
}

#works .works_grid .work:hover
.work_img {
  scale: 1.2;
  filter: brightness(50%);
}

#works .work .work_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  transition: 0.3s ease-in;
}

#works .work .img_link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: var(--text-color);
  font-size: 3rem;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
}

#works .works_grid .work:hover
.img_link {
  opacity: 1;
  pointer-events: unset;
}

#experience .exp_wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#experience .exp {
  display: flex;
  gap: 3.5rem;
}

#experience .exp .exp_des {
  padding: 0 0 2rem 0;
}

#experience .exp span {
  font-weight: 600;
}

#experience .exp .exp_diag {
  display: flex;
  gap: 2rem;
  color: var(--accent-color);
}

#experience .exp_diag .diag {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

#experience .diag .circle {
  min-width: 2.5rem;
  min-height: 2.5rem;
}

#experience .diag .line {
  background: var(--accent-color);
  width: 3px;
  height: 100%;
}

#skills .container {
  margin: -2rem 0 0 0;
}

#skills .skills_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem 5rem;
}

#skills .skill .progressbar_wrapper {
  background: var(--gray-color);
  width: 100%;
  height: 1rem;
  position: relative;
  overflow-x: hidden;
}

.skill .progressbar_wrapper .progressbar {
  background: var(--accent-color);
  height: 100%;
  position: absolute;
  top: 50%;
  translate: 0 -50%;
}

[data-aos="progressbar_anim"] {
  animation-name: progress-anim;
  animation-duration: 1s;
  animation-iteration-count: linear;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

@keyframes progress-anim {
  from {
    width: 0;
  }
}

#skills .skill .first_section {
  display: flex;
  align-items: center;
  column-gap: 2.5rem;
}

#skills .skill .skill_value {
  font-size: 2rem;
  font-weight: 600;
  color: var(--accent-color);
}

#skills .skill .skill_title {
  color: var(--accent-color);
  font-size: 1.3rem;
  margin-top: 0.5rem;
}

#contact .container {
  display: flex;
  justify-content: space-between;
  margin: 0 0 2rem 0;
}

#contact .container .heading {
  margin: 0 0 1.5rem 0;
}

#contact .container .contact_details {
  padding: 0 2rem 0 0;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.contact_details p .form_ic {
  translate: 0 2px;
  margin: 0 7px 0 0;
  color: #fff;
}

.contact_details p a {
  color: var(--text-color);
}

#contact .container form {
  background: var(--accent-color);
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  width: 35rem;
  padding: 3rem;
}

#contact form input,
#contact form textarea {
  background: transparent;
  border: 0;
  border-bottom: 2px solid #fff;
  padding: 0.3rem;
  font-size: 1rem;
  color: #fff;
}

#contact form input::placeholder,
#contact form textarea::placeholder {
  color: #fff;
}

#contact form button {
  background: transparent;
  color: #fff;
  border: 2px solid #fff;
  padding: 1rem 0;
  font-weight: 600;
  letter-spacing: 0.4rem;
  cursor: pointer;
  transition: 0.2s ease-out;
}

#contact form button:hover {
  background: #fff;
  color: var(--accent-color);
}

/* Making Responsive */
@media (max-width: 1024px) {
  nav .navbar #menuIcon {
    display: unset;
    z-index: 100;
  }

  nav.show .navbar #menuIcon {
    font-size: 2rem;
    width: 2rem;
    height: 2rem;
    padding: 0.1rem;
    border-radius: 0;
    margin: 0;
  }

  nav .navbar .navbar_content  {
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
    padding-top: 2rem;
  }

  nav.show .navbar .navbar_content  {
    opacity: 1;
    pointer-events: unset;
  }

  nav .navbar {
    border-right: 1px solid var(--gray-color);
  }

  nav,
  nav .navbar {
    margin-left: -8.5rem;
    transition: 0.4s;
  }

  nav.show,
  nav.show .navbar {
    margin-left: 0;
  }

  #services .services_grid {
    grid-template-columns: 1fr 1fr;
  }

  #works .works_grid {
    grid-template-columns: 1fr 1fr;
  }

  #skills .skills_wrapper {
    grid-template-columns: 1fr;
    row-gap: 4rem;
  }

  #skills .skill {
    background: var(--main-color);
    padding: 1rem;
  }

  #contact .container {
    flex-direction: column;
    row-gap: 5rem;
  }

  #contact .container form {
    margin: 0 auto;
    width: 100%;
  }
}